/* Enter your custom styles here */
.footer {
    background-color: #354a5f !important;
}

.labelText {
    text-align: right!important;
    padding-right: 1vw;
    color: gray;
}

.valueText {
    text-align: left;
}

.sapMITBContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alignDetails {
    margin-left: 25% !important;
}

.Notes-Detail-Page{
    width: 100%;
}